body{
    background-color: lightblue;
    text-align: center;
}

.red{
    background-color:red;
    height: 35px; 
    width: 35px; 
    border: 1px;
    padding: 1px;
    border-spacing: 1px;
}

.black{
    background-color:black;
    height: 35px; 
    width: 35px; 
    border: 1px;
    padding: 1px;
    border-spacing: 1px;
}